<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="">
    <title>@ViewBag.Title</title>
</head>
<body>
    <footer>

    </footer>
    <div>

    </div>
    <div>
        @RenderBody()
    </div>
    <header>
        <div>
            
        </div>
        <div>

        </div>
    </header>
</body>
</html>
