@model telledge.Models.Room

@{
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="ModalWindow.css">
	<script src="https://cdn.jsdelivr.net/npm/jquery@3/dist/jquery.min.js"></script>
	<script src="main.js"></script>
	<script src="http://localhost:53766/Scripts/jquery-3.3.1.js"></script>

	<script>
		$(function () {
			$('.js-modal-open').on('click', function () {
				$('.js-modal').fadeIn();
				return false;
			});
			$('.js-modal-close').on('click', function () {
				$('.js-modal').fadeOut();
				return false;
			});
		});
	</script>
</head>
<body>
	<div class="content">
		<a class="js-modal-open" href=""></a>
	</div>
	<div class="modal js-modal">
		<div class="modal__bg js-modal-close"></div>
		<div class="modal__content">
			<h3 class="h3-margin-left">休憩時間です!!次の生徒の対応を開始しますか?</h3>
			<div class="div-margin">
				<span>生徒名</span>
				<span>山田</span>
			</div>
			<div class="div-margin">
				<span>要望</span>
				<span>こうしてください。</span>
			</div>
			<div class="div-margin">
				<input class="buttom-margin" type="submit" value="対応不可" id="button-color-red">
				<input class="buttom-margin" type="submit" value="次の生徒へ" id="button-color-Green">
				<a class="js-modal-close" href=""></a>
			</div>
		</div>
	</div>
</body>
</html>
