@model IEnumerable<telledge.Models.Room>

@{
	Layout = "~/Views/Shared/teacherMenu.cshtml";
}

<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="new.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="bootstrap.min.js"></script>
</head>
<body>
	<main class="clearfix">
		<div id="room-name" class="center example">
			<span>ルーム作成</span>
		</div>
		<form action="/teacher/Rooms/create" method="post" name="Teacher">
			<table class="example">
				<col span="1" width="180px">
				<tr>
					<td class="room-font">ルーム名</td>
					<td><input type="text" placeholder="[大幅値引き！] OOOO" name="name" value=""></td>
				</tr>
				<tr>
					<td>ルーム説明</td>
					<td>
						<textarea name="msg2" name="description" placeholder="このルームでは特別にOOについての情報を公開しようと思います。今回は特別価格で通常価格の90%割引価格で提供します！
					こんなチャンスは二度とありません。この機会をお見逃しなく！！！" cols="30" rows="7"></textarea>
					</td>
				</tr>
				<tr>
					<td>タグ</td>
					<td><input type="text" placeholder="conversation,hobby,business" name="tag" value=""></td>
				</tr>
				<tr>
					<td>通話終了予定時間</td>
					@*maxExtendTime*@
					<td><input type="text" placeholder="30" name="endScheduleTime" value=""></td>
				</tr>
				<tr>
					<td>最大通話時間(分)</td>
					@*minGuaranteeTime*@
					<td><input type="text" name="extensionTime" placeholder="10" name="text" value=""></td>
				</tr>
				<tr>
					<td>最低通話時間(分)</td>
					@*fee*@
					<td><input type="text" placeholder="30" name="text" value=""></td>
				</tr>
				<tr>
					<td>生徒支払いポイント</td>
					<td><input type="text" placeholder="100" name="text" value=""></td>
				</tr>
				<tr>
					<td id="margin-bottom"><input type="submit" class="Room-buttom" id="Room-buttom" name="submit" value="ルーム作成"></td>
				</tr>
			</table>
		</form>
	</main>
</body>
</html>
