
@{
    ViewBag.Title = "deactivate";
}
<!doctype html>
<html>
	<body>
		<script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
		<link rel="stylesheet" href="~/Content/bootstrap.min.css" />
		<link rel="stylesheet" href="~/StyleSheets/deactivate.css" />
	</body>
</html>

