@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="~/Content/bootstrap.min.css">
	<link rel="stylesheet" href="~/StyleSheets/PassRecovery.css">
	<script type="text/javascript" src="jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
	<main class="clearfix">
		<form action="/student/Passwords/create" method="post" name="Student">
			<div class="room-boxes  radious">
				<div id="room-name" class="center example">
					<h2><span>@ViewBag.pageTitle</span></h2>
				</div>
				<div id="form-content">
					<h1>パスワード復旧画面</h1>
					<div>
						<span>会員登録の際に使用した確認用メールアドレスを入力してください。</span>
					</div>
					<div>
						<span>確認用メールアドレス</span>
					</div>
					<div>
						<span><input type="text" name="mailaddress"></span>
					</div>
					<div>
						<span><input type="submit" value="送信" /></span>
					</div>
				</div>
			</div>
		</form>
	</main>
</body>
</html>
